body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'Microsoft YaHei', Arial;
}

.clearfix{
  display: inline-block;
  &::after {
    display: block;
    content: "";
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
p {
  margin: 0;
}